body {
  font-family: 'Calibri';
  padding:10px;
  color:#fff;
  position:relative;
  text-align: center;
  margin-top:200px;

}


button{
  position:relative;
  background-color:transparent;
  color:#fff;
  font-family: 'Calibri';font-size: 15px;
  width:auto;
  padding:10px;
  border-radius:10px;
  
}




